<!-- Begin Content -->
<div class="main-container with-padding">

  <!-- Begin Wrapper -->
  <div class="wrapper">

    <!-- Begin Inner Wrapper -->
    <div class="inner-wrapper">

      <div class="content-inner">

        <div class="col flex">
          <div class="name"><span class="title">Maquillage shooting</span><br>Book, mannequin, artiste</div>
          <div class="pointille"></div>
          <div class="price">55€</div>
        </div>
        <div class="col flex mt-2">
          <div class="name"><span class="title">Tournage</span><br>Demi-journée (4h)</div>
          <div class="pointille"></div>
          <div class="price">150€</div>
        </div>
        <div class="col flex">
          <div class="name">Journée (8h)</div>
          <div class="pointille without-title"></div>
          <div class="price">250€</div>
        </div>
        <div class="space"></div>
        <div class="col text-center special-prestation mt-2 flex vertical-align center-mobile">
          <div class="name full-width-mobile">
            <span class="dot hide-mobile"></span>
            <span class="title">Autre demande ?</span>
            <div class="price inline ml-2 style-normal">Sur devis</div>
            <br>
            <span class="title">Je vous invite à me contacter pour plus de renseignements.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>