<!-- Begin Content -->
<div class="main-container with-padding">

  <!-- Begin Wrapper -->
  <div class="wrapper">

    <!-- Begin Inner Wrapper -->
    <div class="inner-wrapper">

      <div class="content-inner">

        <div class="description text-center mt-5">
          L’objectif d’un maquillage shooting est la mise en valeur des modèles photographiés. Il intervient sur les
          traits en accentuant ou en gommant, selon l'effet désiré. Il joue sur les teintes, les ombres et les
          lumières.
        </div>

        <div class="col focus">
          <h4>
            SHOOTING
          </h4>
        </div>

        <div class="col flex mt-2 without-description">
          <div class="name">
            <span class="title">Nude <span class="no-focus">(travail du teint principalement) 45min</span>
            </span>
          </div>
          <div class="pointille one-line"></div>
          <div class="price text">45€</div>
        </div>

        <div class="col flex mt-2 without-description">
          <div class="name">
            <span class="title">Mode, édito <span class="no-focus">(maquillage complet 3 axes) 1h30</span>
            </span>
          </div>
          <div class="pointille one-line"></div>
          <div class="price text">55€</div>
        </div>

        <div class="col flex mt-2 without-description">
          <div class="name">
            <span class="title">Artistique <span class="no-focus">(maquillage à thème, spectacle) 2h</span>
            </span>
          </div>
          <div class="pointille one-line"></div>
          <div class="price text">65€</div>
        </div>

        <div class="separator-container separator-container-center hide-mobile mt-5">
          <hr class="separator-pink">
        </div>

        <div class="description text-center mt-5">
          Les lumières écrasantes d’un plateau TV nécessitent un maquillage réellement adapté aux conditions
          spécifiques d’un tournage.
        </div>

        <div class="col focus">
          <h4>
            TOURNAGES
          </h4>
        </div>


        <div class="col flex mt-2">
          <div class="name"><span class="title">Cinéma -TV- Effets spéciaux légers (sans création de prothèse)</span></div>
        </div>
        <div class="col flex">
          <div class="name">Demi-journée (4h)</div>
          <div class="pointille without-title"></div>
          <div class="price">150€</div>
        </div>

        <div class="col flex">
          <div class="name">Journée (8h)</div>
          <div class="pointille without-title"></div>
          <div class="price">250€</div>
        </div>
        <div class="space"></div>
        <div class="col text-center special-prestation mt-2 flex vertical-align center-mobile">
          <div class="name full-width-mobile">
            <span class="dot hide-mobile"></span>
            <span class="title">Autre demande ?</span>
            <div class="price inline ml-2 style-normal">Sur devis</div>
            <br>
            <span class="title">Je vous invite à me contacter pour plus de renseignements.</span>
          </div>
        </div>
        <div class="space"></div>
        <div class="col nb">
          * Les tarifs indiqués couvrent un déplacement de 20km autour d'Avignon. Au delà, un supplément de 0,50cts/km
          sera à ajouter aux tarifs ci dessus. Merci de votre compréhension.
        </div>
      </div>
    </div>
  </div>
</div>