<!-- Begin Content -->
<div class="main-container with-padding">

  <!-- Begin Wrapper -->
  <div class="wrapper">

      <!-- Begin Horizontal Gallery -->
      <div class="gallery-h centered">

          <div class="nav">
              <a href="#" class="prev icon4-leftarrow23"></a>
              <a href="#" class="next icon4-chevrons"></a>
          </div>

          <div class="gallery clearfix">

              <div class="container">

                  <div class="img">
                      <a href="images/gallery/g5_1.png" rel="gallery">
                          <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                      </a>
                  </div>

                  <div class="img">
                      <a href="images/gallery/g5_1.png" rel="gallery">
                          <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                      </a>
                  </div>

                  <div class="img">
                      <a href="images/gallery/g5_1.png" rel="gallery">
                          <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                      </a>
                  </div>

                  <div class="img active">
                      <a href="images/gallery/g5_1.png" rel="gallery">
                          <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                      </a>
                  </div>

                  <div class="img">
                      <a href="images/gallery/g5_1.png" rel="gallery">
                          <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                      </a>
                  </div>

                  <div class="img">
                      <a href="images/gallery/g5_1.png" rel="gallery">
                          <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                      </a>
                  </div>

              </div>

          </div>

      </div>
      <!-- End Horizontal Gallery -->

  </div>
  <!-- End Wrapper -->

</div>
<!-- End Content -->