<!-- Begin Header -->
<header>

  <a routerLink="/" class="logo-container">
    <p>MARGAUX FOUQUET</p>
  </a>

  <nav #navbar>
    <ul>
      <li>
        <a routerLink="/home" (click)="closeMenu($event)" routerLinkActive="active">ACCUEIL</a>
      </li>
      <li>
        <a routerLink="/about" (click)="closeMenu($event)" routerLinkActive="active">A PROPOS</a>
      </li>
      <li>
        <a routerLinkActive="active" [ngClass]="{'active': particular.isActive || professional.isActive }">PRESTATIONS</a>
        <ul>
          <li><a routerLink="/benefits/particular" routerLinkActive="active" #particular="routerLinkActive" (click)="closeMenu($event)">PARTICULIERS</a></li>
          <li><a routerLink="/benefits/professional" routerLinkActive="active" #professional="routerLinkActive" (click)="closeMenu($event)">PROFESSIONNELS</a></li>
        </ul> 
      </li>
      <li>
        <a routerLink="/gallery" (click)="closeMenu($event)" routerLinkActive="active">PHOTOS</a>
      </li>
      <li>
        <a routerLink="/contact" (click)="closeMenu($event)" routerLinkActive="active">CONTACT</a>
      </li>
    </ul>
  </nav>

  <a href="#" class="mobile-navigation icon3-list2"></a>

</header>
<!-- End Header -->