<!-- Begin Footer -->
<footer>

  <p class="copyrights">© MF MAKE UP ARTIST | TOUT DROITS RESERVES</p>

  <div class="social-networks clearfix">
    <a class="pink" href="https://www.facebook.com/Margaux-Fouquet-Make-Up-Artist-241845226529021/">
      <span>FACEBOOK</span>
      <i class="facebook-icon icon1-facebook"></i>
    </a>
    <a class="pink" href="https://www.instagram.com/margaux_fouquet/?utm_source=ig_profile_share&igshid=7gc2fnplobsb">
      <span>INSTAGRAM</span>
      <i class="instagram-icon icon3-instagram"></i>
    </a>
  </div>

</footer>
<!-- End Footer -->