<!-- <div class="main-container scrollbar-space" style="background-image:url(assets/images/home/background.png)">
  <div class="med-style">
    <div class="content-inner clearfix">

      <div class="row">
        <div class="col full text-center">

          <h4>BIENVENUE</h4>

          <blockquote>“Pour un maquilleur, chaque visage est une nouvelle toile potentielle. Ils peuvent être
            aussi source d'inspiration. Il faut n'avoir de cesse d'éduquer son oeil, aux couleurs et aux formes,
            à la nouveauté, à la beauté, à l'étrangeté, trouver l'inspiration partout et en tout temps, veiller à
            toujours lui laisser la porte ouverte.”</blockquote>

        </div>
      </div>
      <div class="divider" style="height:20px;"></div>

      <div class="row">
        <div class="team clearfix">

          <div class="member col one-fifth">
            

            
          </div>

          <div class="member col three-fifth">
            <div class="member-cont">

              <img src="assets/images/home/me.png" alt="">

              <div class="overlay">

                <h5>JESSY JAMES</h5>

                <p class="title">PHOTOGRAPHER</p>

                <div class="icons">
                  <a href="#" class="icon1-facebook"></a>
                  <a href="#" class="icon1-twitter"></a>
                  <a href="#" class="icon3-instagram"></a>
                </div>

              </div>

            </div>
          </div>

          <div class="member col one-third">
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


 -->


<div class="main-container scrollbar-space" style="background-image:url(assets/images/home/me.png)">

  <div class="min-style">
    <div class="content-wrapper clearfix">

      <div class="row">
        <div class="col col-full text-center">
          <img src="assets/images/logo2.png" class="logo" alt="">
        </div>
      </div>

      <div class="row">

        <div class="col col-full">

          <div class="info-box col one-third">
            <p class="desc">NOM</p>
            <p class="info pink">MARGAUX FOUQUET</p>
          </div>
          <div class="info-box col one-third">
            <p class="desc uppercase">Région</p>
            <p class="info pink">PROVENCE ALPES CÔTE D'AZUR</p>
          </div>
          <div class="info-box col one-third">
            <p class="desc">SPECIALITE</p>
            <p class="info pink">MAQUILLAGE MARIAGE</p>
          </div>

          <div class="row">
            <div class="col full text-center">

              <blockquote>“Pour un maquilleur, chaque visage est une nouvelle toile potentielle. Ils peuvent être
                aussi source d'inspiration. Il faut n'avoir de cesse d'éduquer son oeil, aux couleurs et aux formes,
                à la nouveauté, à la beauté, à l'étrangeté, trouver l'inspiration partout et en tout temps, veiller à
                toujours lui laisser la porte ouverte.”</blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col full text-center">
              <a routerLink="/gallery" class="button-large style-2 pink-border">VOIR LES PHOTOS</a>
              <a routerLink="/contact" class="button-large style-2 pink-border">CONTACTEZ-MOI</a>
            </div>
          </div>
          <div class="row">
            <div class="col full text-center">

              <div class="phone">
                <p class="phone">07 66 82 42 20</p>
              </div>

              <div class="social-icons">

                <a href="https://www.facebook.com/Margaux-Fouquet-Make-Up-Artist-241845226529021/" name="facebook"
                  class="icon1-facebook pink icons"></a>
                <a href="https://www.instagram.com/margaux_fouquet/?utm_source=ig_profile_share&igshid=7gc2fnplobsb"
                  name="instagram" class="icon1-instagram pink icons"></a>

              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="clear"></div>

    </div>
  </div>

</div>