<!-- Begin Content -->
<div class="landing-slideshow">

  <!-- Begin Logo container -->
  <div class="logo-container">

    <a routerLink="/introduction" class="source">

      <img src="assets/images/logo2.png" alt="">

      <span class="animate">
        <img src="assets/images/logo2.png" alt="">
      </span>

    </a>

  </div>
  <!-- End Logo container -->


  <!-- Begin Slides -->
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image:url(assets/images/landing/background.png);"></li>
      <li style="background-image:url(assets/images/landing/background.png);"></li>
      <li style="background-image:url(assets/images/landing/background.png);"></li>
      <li style="background-image:url(assets/images/landing/background.png);"></li>
      <li style="background-image:url(assets/images/landing/background.png);"></li>
    </ul>
  </div>
  <!-- End Slides -->

</div>
<!-- End Content -->