.focus{
    color: white;
    border: 3px solid #F8BBD0;
    padding: 1.5em;
}

.text-center{
    text-align: center;
}

.v-center{
    display: flex;
    align-items: center;
}

.title{
    color: #F8BBD0;
}

.pink{
    color: #F8BBD0;
}

p{
    font-size: 16px !important;
    text-align: justify !important; 
}

.personal-img {
    width: 43em !important;
}

.wrapper{
    color: white;
    background-color: #0000004f;
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    .inner-wrapper{
        display: inherit !important;
        align-items: center;
    }

    p{
        text-align: initial !important; 
    }
}


@media only screen and (max-height: 1200px) {
    .inner-wrapper{
        display: inherit !important;
        align-items: center;
    }

    p{
        text-align: initial !important; 
    }
}

.inner-wrapper{
    display: flex;
    align-items: center;
}

.text-center{
    text-align: center !important;
}
