<!-- Begin Content -->
<!-- Begin Content -->
<div class="main-container with-padding" style="background-image: url(assets/images/about/about.jpg);">

  <!-- Begin Wrapper -->
  <div class="wrapper">

    <!-- Begin Inner Wrapper -->
    <div class="inner-wrapper">

      <div class="content-inner">

        <!-- Begin Post -->
        <div class="fullwidth">

          <div class="container">

            <!-- Begin Article -->
            <div class="article clearfix">

              <h4 class="title">LE MAQUILLAGE ET MOI...</h4>

              <div class="content">

                <div class="row v-center">

                  <div class="col white">

                    <div class="row">
                      <div class="col full">

                        <p>Autodidacte depuis de nombreuses années, j’ai décidé en 2012 de faire valider mes
                          compétences par
                          l’un des plus grands maquilleurs allemands ; <strong>Beni Durrer</strong>.
                          <br>
                          A son contact j’ai pu acquérir définitivement les fondamentaux du maquillage comme la
                          colorimétrie et
                          la morphologie du visage, mais aussi valider des techniques professionnelles telles que le
                          contouring, le strobing... et enfin maitriser les spécificités des maquillages de cinéma,
                          théâtre ou
                          encore de télévision.</p>
                        <p>Mon parcours m’a conduit à me perfectionner encore davantage en travaillant 3 ans en tant
                          que make
                          up artist au sein de la marque <strong>M-A-C Cosmetics</strong>, années durant lesquelles
                          j’ai eu la chance de
                          côtoyer
                          et d’apprendre de grands noms du maquillage français.
                        </p>
                        <p>Pédagogue, j’anime également des ateliers de maquillage au cours desquels je transmets des
                          astuces,
                          des conseils et des techniques pour un maquillage sur mesure à la portée de tous (Voir
                          Prestations).
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="clear"></div>

                <p class="focus">Aujourd’hui, ma vision de la beauté est orientée vers le naturel, le minimaliste. Il
                  me tient à cœur de mettre en évidence certains traits, certaines caractéristiques particulières
                  propres aux hommes et aux femmes que j’ai le plaisir de maquiller. Mettre en lumière un regard,
                  conserver l’aspect naturel d’une peau, sublimer des lèvres… mon expérience de maquilleuse
                  professionnelle m’a permis de comprendre que l’on peut très subtilement faire ressortir la beauté
                  chez tout un chacun. 
                </p>

                <div class="divider" style="height:20px;"></div>
                <span class="text-center">
                  <p class="text-center">
                    Quelle que soit l’occasion, je suis à votre disposition pour vous sublimer et partager un
                    moment convivial ensemble…
                  </p>

                  <h3 class="pink">Et si nous faisions connaissance ?
                  </h3>
                </span>
              </div>

            </div>
            <!-- End Article -->

          </div>

        </div>
        <!-- End Post -->

      </div>

    </div>
    <!-- End Inner Wrapper -->

  </div>
  <!-- End Wrapper -->

</div>
<!-- End Content -->